<!DOCTYPE html>
<html lang="en">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <body>
        <div id="element" class="container">
               
                <header class="blog-header py-3">
                        <div class="row flex-nowrap justify-content-between align-items-center">
                         
                          <div class="col-12 text-center">
                           
                          </div>
                          
                        </div>
                      </header>
                
                      
                <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                  <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">DEPT ASSESMENT</h1>
                    <p class="lead my-3">This is the website for test the movie API</p>
                    <p class="lead mb-0"><a href="http://localhost:8080/swagger-ui.html" class="text-white font-weight-bold">Details of implementation...</a></p>
                  </div>
                </div>
              
                <div class="row mb-2">
                    <div class="col-md-12 text-left">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Keywords" aria-label="Keywords" aria-describedby="basic-addon2" v-model="txtInput">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" v-on:click="searchMovies">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2" v-if="info.total > 0">
                    <div class="col-md-6" v-for="(movie,index) in info.movies" v-if="index < 5">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">{{movie.name}}</h3>
                            <div class="mb-1 text-muted">{{movie.year}}</div>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <div v-if="movie.poster == 'N/A'">
                                    <a v-bind:href="movie.urlTrailer"><img class="rounded img-thumbnail" style="height: 20rem" src ="notfound.jpeg"/></a>
                                </div>
                                <div v-else>
                                    <a v-bind:href="movie.urlTrailer"><img class="rounded img-thumbnail" style="height: 20rem; width: 15rem;" v-bind:src="movie.poster" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" v-for="(movie,index) in info.movies" v-if="index >= 5">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">{{movie.name}}</h3>
                            <div class="mb-1 text-muted">{{movie.year}}</div>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <div v-if="movie.poster == 'N/A'">
                                    <img class="rounded img-thumbnail" style="height: 20rem; width: 15rem;" src ="notfound.jpeg"/>
                                </div>
                                <div v-else>
                                    <a v-bind:href="movie.urlTrailer"><img class="rounded img-thumbnail" style="height: 20rem; width: 15rem;" v-bind:src="movie.poster" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2" v-else>
                    <div class="col-md-12">
                        No movies found for that keywords
                    </div>
                </div>

                <div class="row mb-2">
                        <div class="col-md-6 text-left">
                            <button type="button" class="btn btn-outline-secondary" v-on:click="getPage(info.link.previous)" v-if="info.link.previous">Previous</button>
                        </div>
                        <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-outline-secondary" v-on:click="getPage(info.link.next)" v-if="info.link.next">Next</button>
                        </div>
                    </div>
            </div>
              
              <main role="main" class="container">
                <div class="row">
                  <div class="col-md-8 blog-main">
                    <div class="blog-post">
                      <h2 class="blog-post-title">API implementation details</h2>
                      <p class="blog-post-meta">June 16, 2019 by <a href="#">Juan Sanchez</a></p>
                      <p>Technologies used:</p>
                      <ul>
                          <li>Java 8</li>
                          <li>Spring-Boot</li>
                          <li>Maven</li>
                          <li>Swagger</li>
                          <li>Docker</li>
                          <li>Boostrap</li>
                          <li>VueJS</li>
                      </ul>
                      
                    </div><!-- /.blog-post -->
              
                  </div><!-- /.blog-main -->
              
                  <aside class="col-md-4 blog-sidebar">
                    <div class="p-4 mb-3 bg-light rounded">
                      <h4 class="font-italic">About</h4>
                      <p class="mb-0">Author: Juan Sanchez</p>
                      <p class="mb-0">Email: juansanchez49@gmail.com</p>
                    </div>
            
                  </aside><!-- /.blog-sidebar -->
              
                </div><!-- /.row -->
              
              </main><!-- /.container -->
              
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
    
    </body>
</html>